@import url("globals.css");

#tabbrowser-tabbox {
  border-radius: var(--browse-round);
  margin: 0.2rem 12px 0.13rem 8px !important;
  box-shadow:
    0 0 0 1px color-mix(in srgb, var(--fg-02), transparent 45%),
    inset 0 0 0 1px var(--bg-03) !important;

  @media (-moz-pref: "sidebar.revamp") {
    box-shadow: unset !important;
    outline: none !important;

    @media (-moz-pref: "sidebar.revamp.round-content-area") {
      :root:not([inDOMFullscreen]) &[sidebar-shown] {
        border-start-end-radius: var(--browse-round) var(--browse-round) !important;

        @media (-moz-pref: "sidebar.position_start") {
          border-start-start-radius: var(--browse-round) var(--browse-round) !important;
          border-start-end-radius: var(--browse-round) var(--browse-round) !important;
        }
      }
    }
  }
}

html#main-window {
  --lwt-accent-color: var(--bg-color-02) !important;
  --arrowpanel-background: var(--bg-color-02) !important;
  --toolbar-bgcolor: var(--bg-color-02) !important;
  --tabpanel-background-color: var(--bg-color-01) !important;
  --newtab-background-color: var(--bg-color-02) !important;
}

findbar,
#sidebar-box,
#browser,
#appcontent,
#tabbrowser-tabbox,
#appcontent > .browserStack,
#appcontent > .browserContainer {
  background-color: var(--bg-color-02) !important;
}

.browserStack {
  &::after {
    inset: 0px;
    content: "";
    position: absolute;
    border-radius: var(--browse-round) !important;
    box-shadow: 0 0 0 100px var(--bg-color-02) !important;
    clip-path: inset(0) !important;
    pointer-events: none;
  }
}
